// 
// Buttons
// 

//- Custom XL button styling

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn-sm.button-wrapper {
    margin-bottom:4px;
}

.card {
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 25px;
    min-width: 300px;
}

.card .card-body {
    padding: 25px;
    width: 100%;
}