.card {
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 25px;
    min-width: 300px;
}

.card .card-body {
    padding: 25px;
    width: 100%;
}

.card {
    .card-olverlay {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 2rem;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        text-align: center;
        opacity: 0;

        background: fade-out(white, 0.2);
        transition: opacity 0.2s ease;
        text-align: center;
    }

    &:hover {
        .card-olverlay {
            opacity: 1;
        }
    }
}
