// 
// Navbar
// 

#mainNav {
    box-shadow: $box-shadow;
    background-color: var(--bs-body-bg);
    transition: background-color 0.2s ease;

    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        color: var(--bs-text-primary);

        &:hover {
            color: $primary;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: var(--bs-text-primary);
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 0.9rem;
                padding: 0.75rem 0;

                &:hover,
                &:active {
                    color: $primary;
                }

                &.active {
                    color: $primary !important;
                }
            }
        }
    }

    .navbar-nav li > ul.dropdown-menu {
        display: block;
        padding-left: 2rem;
        color: fade-out($black, 0.3);
        border-color: transparent;
    }

    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint
        box-shadow: none;
        background-color: transparent;

        .navbar-brand {
            color: fade-out($white, 0.3);

            &:hover {
                color: $primary;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: fade-out($white, 0.3);
                    padding: 0 1rem;

                    &:hover {
                        color: $primary;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        .navbar-nav li > ul.dropdown-menu {
            display: none;
        }

        .navbar-nav li:hover > ul.dropdown-menu {
            display: block;
            background-color: transparent;
            border-color: $primary;
            padding-left: 0rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .navbar-nav li:hover > ul.dropdown-menu > li {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        // Navbar styling applied when the page is scrolled
        &.navbar-shrink {
            box-shadow: $box-shadow;
            background-color: var(--bs-body-bg);

            .navbar-brand {
                color: var(--bs-text-primary);

                &:hover {
                    color: $primary;
                }
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: var(--bs-text-primary);

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }

            .navbar-nav li:hover > ul.dropdown-menu {
                display: block;
                background-color: var(--bs-body-bg);
                padding-left: 0rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }

            .navbar-nav li:hover > ul.dropdown-menu > li {
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        }
    }
}

#secondaryNav {
    box-shadow: $box-shadow;
    background-color: var(--bs-body-bg);
    transition: background-color 0.2s ease;

    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        color: var(--bs-text-primary);

        &:hover {
            color: $primary;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: var(--bs-text-primary);
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 0.9rem;
                padding: 0.75rem 0;

                &:hover,
                &:active {
                    color: $primary;
                }

                &.active {
                    color: $primary !important;
                }
            }
        }
    }

    .navbar-nav li > ul.dropdown-menu {
        display: block;
        padding-left: 2rem;
        color: fade-out($black, 0.3);
        border-color: transparent;
    }

    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint
        box-shadow: $box-shadow;
        background-color: var(--bs-body-bg);
        transition: background-color 0.2s ease;

        .navbar-brand {
            color: var(--bs-text-primary);

            &:hover {
                color: $primary;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: var(--bs-text-primary);
                    padding: 0 1rem;

                    &:hover {
                        color: $primary;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        .navbar-nav li > ul.dropdown-menu {
            display: none;
        }

        .navbar-nav li:hover > ul.dropdown-menu {
            display: block;
            background-color: var(--bs-body-bg);
            border-color: $primary;
            padding-left: 0rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .navbar-nav li:hover > ul.dropdown-menu > li {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}