{% from "src/pug/_macros.j2" import presentation %}
{% set maximum = 2 %}

h3.col-lg-12.mt-3.mb-3.text-left 
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.gx-5.gy-4.mb-4
{% set count = {'counter': 0} %}
{% for entry in input %}
{% if count.counter < maximum %}
{% filter indent(width=4) %}
    {{ presentation(entry.title, entry.event, entry.note, entry.daymonth, entry.year, entry.location, entry.file, entry.video, entry.url) }}
{% endfilter %}
{% elif count.counter == maximum -%}
.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='presentations.html') See all presentations
{% endif -%}
{% if count.update({'counter': count.counter + 1}) %} {% endif %}
{% endfor %}