


h3.mt-5.mb-3.text-center
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.gx-5.gy-4.mb-4




        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong <built-in method title of str object at 0x7f044a2d82f0>]<br>
                | #[i ]<br>
                | 
                |  , 
            .card-footer
                





        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong <built-in method title of str object at 0x7f044a25f240>]<br>
                | #[i ]<br>
                | 
                |  , 
            .card-footer
                



.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='presentations.html') See all presentations





