


h3.col-lg-12.mt-3.mb-3.text-left 
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.row-cols-xl-2.gx-5.gy-4.mb-4




        
    .col
        .card.shadow.rounded.h-100
            .card-body
                | #[strong An application of homotopy theory to singularity theory]<br>
                | #[i University of Haifa Topology & Geometry Seminar]<br>
                | 
                | 28 November 2023, online seminar
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/Haifa2023.pdf") Presentation
                





        
    .col
        .card.shadow.rounded.h-100
            .card-body
                | #[strong Hypercommutative algebras and differential forms]<br>
                | #[i Operadic Methods in Geometry]<br>
                | 
                | 22 November 2023, Barcelona, Spain
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/Barcelona2023.pdf") Presentation
                a.btn.btn-xs(href="https://geoffroy.horel.org/OMG.html") Site
                



.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='presentations.html') See all presentations































































