{% from "src/pug/_macros.j2" import paper %}

{% set maximum = 2 %}

{% set count = {'counter': 0} %}
{% for entry in input %}
{% if entry.type == '' and (entry.issued['date-parts'][0][0] | int) > 2020%}
{% if count.counter < maximum %}
{% if count.counter == 0 %}
h3.mt-5.mb-3.text-center
    .bi.bi-journal &nbsp; Preprints
.row.row-cols-1.gx-5.gy-4.mb-4
{% endif -%}
    {% filter indent(width=4) %}
    {{ paper(entry.id, entry.author, entry.title, entry.issued['date-parts'][0][0], entry.type, entry['container-title'], entry.volume, entry.number, entry.series, entry.page, entry.note, entry.DOI, entry.arxiv, entry.abstract, entry.bibtex, entry['zbmath_url']) }}
    {% endfilter -%}
{% elif count.counter == maximum -%}
.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='preprints.html') See all preprints
{% endif -%}
{% if count.update({'counter': count.counter + 1}) %} {% endif %}
{% endif -%}
{% endfor %}


h3.mt-5.mb-3.text-center 
    .bi.bi-journal-check &nbsp; Papers
.row.row-cols-1.gx-5.gy-4.mb-4
{% set count = {'counter': 0} %}
{% for entry in input %}
{% if entry.type != '' %}
{% if entry.id in extras.keys() %}
{% if extras[entry.id] == ''%}
{% set pdf = ('a.btn.btn-xs(href="assets/files/papers/' ~ entry.id ~ '.pdf") PDF') %}
{% else %}
{% set pdf = ('a.btn.btn-xs(href="' ~ extras[entry.id] ~ '") PDF') %}
{% endif %}
{% else %}
{% set pdf = '' %}
{% endif %}
{% if count.counter < maximum %}
    {% filter indent(width=4) %}
    {{ paper(entry.id, entry.author, entry.title, entry.issued['date-parts'][0][0], entry.type, entry['container-title'], entry.volume, entry.number, entry.series, entry.page, entry.note, entry.DOI, entry.arxiv, entry.abstract, entry.bibtex, entry['zbmath_url'], pdf) }}
    {% endfilter -%}
{% elif count.counter == maximum -%}
.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='papers.html') See all papers
{% endif -%}
{% if count.update({'counter': count.counter + 1}) %} {% endif -%}
{% endif -%}
{% endfor %}