{% macro paper (id, authors, title, year, type, publication, volume, number, series, pages, note, DOI, arxiv, abstract, bibtex, zbmath, pdf) %}
.col
    .card.shadow.rounded.h-100
        .card-body
            | {% for name in authors %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}{{ name.given }} {{ name.family }}{% if loop.last %}{% endif %}{% endfor %}<br>
            | #[strong {{ title }}]<br>
            | {% if type == 'article-journal' %}#[i {{ publication }}]{% endif %} {% if pages %} {% if type == 'chapter' %}#[i {{ publication }}], {% endif %}{% if series %}{{ series }},{% endif %} {{ volume }}{% endif %} {% if pages %}{% if type == 'article-journal' %}({% endif %}{% endif %}{{ year }}{% if pages %}{% if type == 'article-journal' %}){% endif %}{% if number %} no. {{ number }}{% endif %}, {% if pages %}{{ pages }}{% endif %}{% endif %}{% if note %}, {{ note }}{% endif %}
        .card-footer
            {% if pdf != '' -%}
            {{ pdf }}
            {% endif %}
            {% if DOI -%}
            a.btn.btn-xs(href="https://doi.org/{{ DOI }}") publisher
            {% endif -%}
            {% if arxiv -%}
            a.btn.btn-xs(href="https://arxiv.org/abs/{{ arxiv }}") arxiv
            {% endif -%}
            {% if abstract -%}
            a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstract{{ id }}") Abstract

            // Modal
            .modal.fade(id="abstract{{ id }}", tabindex="-1", role="dialog", aria-labelledby="{{ title }}", aria-hidden="true")
                .modal-dialog(role="document").modal-dialog-centered
                    .modal-content
                        .modal-header
                            h5.modal-title(id="abstract{{ id }}") {{ title }}
                        .modal-body
                            p {{ abstract }}
                        .modal-footer
                            button.btn.btn-primary(type="button", data-bs-dismiss="modal") Close
            {% endif -%}
            {% if bibtex -%}
            a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtex{{ id }}") BibTeX

            // Modal
            .modal.fade(id="bibtex{{ id }}", tabindex="-1", role="dialog", aria-labelledby="{{ title }}", aria-hidden="true")
                .modal-dialog(role="document").modal-dialog-centered
                    .modal-content
                        .modal-body
                            p(id="bibtex{{ id }}") 
                                code {{ bibtex.replace('\n', '<br>&nbsp;&nbsp;&nbsp;&nbsp;') }}
                        .modal-footer
                            button.btn.btn-primary(type="button", data-bs-dismiss="modal") Close
            {% endif -%}
            {% if zbmath -%}
            a.btn.btn-xs(href="{{ zbmath }}") zbMath
            {% endif -%}
{% endmacro %}

{% macro presentation (title, event, note, daymonth, year, location, file, video, url) %}
.col
    .card.shadow.rounded.h-100
        .card-body
            | #[strong {{ title }}]<br>
            | #[i {{ event }}]<br>
            | {% if note %}{{ note }}<br>{% endif %}
            | {{ daymonth }} {{ year }}, {{ location }}
        .card-footer
            {% if file -%}
            a.btn.btn-xs(href="assets/files/presentations/{{ file }}.pdf") Presentation
            {% endif -%}
            {% if video -%}
            a.btn.btn-xs(href="{{ video }}") Video
            {% endif -%}
            {% if url -%}
            a.btn.btn-xs(href="{{ url }}") Site
            {% endif -%}
{% endmacro %}