doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name="description", content="research, investigacion, science, ciencia, mathematics, matematicas, algebra, topology, topologia, homotopy, homotopia, homology, homologia, k-theory, teoria k, category theory, categorias, representation theory, teoría de representaciones, university of seville, universidad de sevilla")
        meta(name="author", content="Fernando Muro")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color", content="#fff", media="(prefers-color-scheme: light)")
        meta(name="theme-color", content="#212529;", media="(prefers-color-scheme: dark)")
        
        title Fernando Muro's website

        // Core theme JS
        script(src='js/darkmode.js')

        // Google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")

        // Favicon
        link(rel="apple-touch-icon", sizes="180x180", href="assets/ico/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="assets/ico/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="assets/ico/favicon-16x16.png")
        link(rel="manifest", href="assets/ico/site.webmanifest")
        link(rel="mask-icon", href="assets/ico/safari-pinned-tab.svg", color="#5bbad5")
        link(rel="shortcut icon", href="assets/ico/favicon.ico")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-config", content="assets/ico/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")

        // Academicons
        link(rel="stylesheet", href="assets/css/academicons.min.css")

        // Icomoon
        link(rel="stylesheet", href="assets/css/icomoon.css", type="text/css")

        // SimpleLightbox plugin CSS
        link(href='assets/css/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // MathJax
        script(src="js/mathjax-config.js", defer)
        script(type="text/javascript", id="MathJax-script", defer, src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js")


    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Fernando Muro
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#research', data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Research
                            ul.dropdown-menu.border-3(aria-labelledby="navbarDropdownMenuLink")
                                li.nav-item 
                                    a.nav-link(href="preprints.html") Preprints
                                li.nav-item 
                                    a.nav-link(href="papers.html") Papers
                                li.nav-item 
                                    a.nav-link(href="presentations.html") Presentations
                        li.nav-item
                            a.nav-link(href='#docencia') Docencia
                        li.nav-item
                            a.nav-link(href='#portfolio') Gallery
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Fernando Muro
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Welcome to my website! I'm a professor of mathematics at the University of Seville. Here, you'll mostly find information about my research.
                        p.mb-5
                        {% for network in social %}
                            a.ai.{{ network.icon }}.ai-3x.mx-2.professional-icons(href="{{ network.link }}", 
                            title="{{ network.name }}",
                            aria-label="{{ network.name }}")
                        {% endfor %}
                        a.btn.btn-primary.btn-xl(href='#research') Find Out More

        // Research
        section#research.page-section
            .container.px-4.px-lg-6
                h2.text-center.mt-0 Research
                hr.divider
                p.text-muted.mb-2.mx-5.text-center
                    | I work on algebraic topology, specifically on homotopy theory, and I also interact with related fields such as category theory, homological algebra, K-theory, and representation theory.
                include ../subfiles/publications.pug
                include ../subfiles/presentations_max.pug


        // Docencia
        section#docencia.page-section.bg-primary
            .container.px-4.px-lg-5.text-center
                h2.mb-4.text-white ¿Eres mi estudiante?
                hr.divider.divider-light
                p.text-white-75.mb-5.mx-5.text-center
                    | Encontrarás toda la información referente a la asignatura en el campus virtual: horario de tutorías, documentos de interés, calificaciones, avisos... Ese será nuestro cauce de comunicación durante el curso. También puedes escribirme un correo electrónico cuando lo necesites.
                a.btn.btn-light.btn-xl(href='https://ev.us.es/') Campus virtual

        // Portfolio
        #portfolio.bg-dark
            .container-fluid.p-0
                .row.g-0
                    {% for event in portfolio %}
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/{{ event.image }}.webp', width='1300', height='700', title='{{ event.name }}')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/{{ event.image }}.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | {{ event.category }}
                                .project-name
                                    | {{ event.name }}
                    {% endfor %}

        // About
        section#about.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 About me
                hr.divider
                p.text-white-75.mb-5.mx-5.text-center
                    | I got my PhD at the #[i Universidad de Sevilla] in 2004. Then I spent two years at the #[i Max-PlanckInstitut für Mathematik] and two and a half years at the #[i Universitat de Barcelona] as a postdoc. I moved back to Seville in 2009 with an associate professorship and became a full professor in 2023. Here, I'm a member of the Mathematical Institute and of the Algebra Department.

        // contact
        section#contact.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 How to reach me
                hr.divider
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-3.col-md-4.text-center
                        .mt-4
                            .mb-2
                                i.bi-envelope-at.fs-1.text-primary
                            h4.mb-2 Email me
                            a.mb-0(href="mailto:fmuro@us.es") fmuro@us.es
                    .col-lg-3.col-md-4.text-center
                        .mt-4
                            .mb-2
                                i.bi-geo-alt.fs-1.text-primary
                            h4.mb-2 Come visit me
                            p.text-muted.mb-0 
                            a(href="https://maps.app.goo.gl/eH7N9wsMEnoseR3o8") Get Google directions.<br>
                            | I'm at the Faculty of Mathematics building, first floor, central aisle, office 9.<br>
                    .col-lg-3.col-md-4.text-center
                        .mt-4
                            .mb-2
                                i.bi-postcard.fs-1.text-primary
                            h4.mb-2 Send me a letter
                            p.text-muted.mb-0
                            a(href="https://www.us.es") Universidad de Sevilla<br>
                            a(href="https://matematicas.us.es") Facultad de Matemáticas<br>
                            a(href="http://www.algebra.us.es") Departamento de Álgebra<br>
                            | Calle Tarfia s/n<br>
                            | 41012 Sevilla, Spain

        // Footer
        footer.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2024 - 
                    a(href="#page-top") Fernando Muro
                    |. Powered by 
                    a(href='https://startbootstrap.com') Start Bootstrap 
                    | with 
                    a(href='https://startbootstrap.com/theme/creative') Creative 
                    | theme.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='js/simpleLightbox.min.js', rel="stylesheet")

        // Core theme JS
        script(src='js/scripts.js')
