doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        // Core theme JS
        script(src='js/darkmode.js')

        title Creative - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Academicons
        link(rel="stylesheet", href="assets/css/academicons.min.css")

        // Icomoon
        link(rel="stylesheet", href="assets/css/icomoon.css", type="text/css")

        // SimpleLightbox plugin CSS
        link(href='assets/css/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // MathJax
        script(src="js/mathjax-config.js", defer)
        script(type="text/javascript", id="MathJax-script", defer, src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js")


    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Fernando Muro's website
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#research') Research
                        li.nav-item
                            a.nav-link(href='#portfolio') Gallery
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Fernando Muro
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Welcome to my website! I'm a professor of mathematics at the University of Seville. Here, you'll mostly find information about my research.
                        p.mb-5
                        
                            a.ai.icon-zbmath.ai-2x.mx-2.professional-icons(href="https://zbmath.org/authors/?q=ai:muro.fernando", title="zbMath")
                        
                            a.ai.icon-ams.ai-2x.mx-2.professional-icons(href="https://mathscinet.ams.org/mathscinet/author?authorId=724223", title="MathSciNet")
                        
                            a.ai.ai-arxiv.ai-2x.mx-2.professional-icons(href="https://arxiv.org/a/muro_f_1", title="arXiv")
                        
                            a.ai.ai-google-scholar.ai-2x.mx-2.professional-icons(href="https://scholar.google.com/citations?user=Jh0JG3wAAAAJ", title="Google Scholar")
                        
                            a.ai.ai-mathoverflow.ai-2x.mx-2.professional-icons(href="https://mathoverflow.net/users/12166/fernando-muro", title="MathOverflow")
                        
                            a.ai.ai-orcid.ai-2x.mx-2.professional-icons(href="https://orcid.org/0000-0001-8457-9889", title="ORCID")
                        
                            a.ai.ai-clarivate.ai-2x.mx-2.professional-icons(href="http://www.webofscience.com/wos/author/record/I-5790-2015", title="Web of Science")
                        
                            a.ai.ai-scopus.ai-2x.mx-2.professional-icons(href="https://www.scopus.com/authid/detail.uri?authorId=22135559400", title="Scopus")
                        
                            a.ai.ai-zotero.ai-2x.mx-2.professional-icons(href="https://www.zotero.org/fmuro", title="Zotero")
                        
                        a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // Research
        section#research.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Papers, preprints, slides...
                hr.divider
                p.text-muted.mb-3.mx-5.text-center
                    | I work on algebraic topology, specifically on homotopy theory, and I also interact with related fields such as category theory, homological algebra, K-theory, and representation theory.
                h3.col-lg-12.text-left Papers
                ol(reversed)
                    include papers.pug

        // Portfolio
        #portfolio.bg-dark
            .container-fluid.p-0
                .row.g-0
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/barcelona.webp', width='1300', height='700', title='Categorical Groups, Barcelona, 2008')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/barcelona.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Workshop
                                .project-name
                                    | Categorical Groups, Barcelona, 2008
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/banff2016triang.webp', width='1300', height='700', title='Triangulated Categories and Applications, Banff, 2016')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/banff2016triang.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Workshop
                                .project-name
                                    | Triangulated Categories and Applications, Banff, 2016
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/banff2016operations.webp', width='1300', height='700', title='Operations in Highly Structured Homology Theories, Banff, 2016')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/banff2016operations.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Workshop
                                .project-name
                                    | Operations in Highly Structured Homology Theories, Banff, 2016
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/aalesund.webp', width='1300', height='700', title='Triangulated Categories in Representation Theory and Beyond, Ålesund, 2022')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/aalesund.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Conference
                                .project-name
                                    | Triangulated Categories in Representation Theory and Beyond, Ålesund, 2022
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/bonn.webp', width='1300', height='700', title='Algebraic Topology, in memory of Hans-Joachim Baues, Bonn, 2022')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/bonn.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Conference
                                .project-name
                                    | Algebraic Topology, in memory of Hans-Joachim Baues, Bonn, 2022
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/oberwolfach.webp', width='1300', height='700', title='Hochschil (Co)Homology and Applications, Oberwolfach, 2024')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/oberwolfach.webp', width='650', height='350', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Workshop
                                .project-name
                                    | Hochschil (Co)Homology and Applications, Oberwolfach, 2024
                    

        // contact
        section#contact.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 How to reach me
                hr.divider
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-3.col-md-4.text-center
                        .mt-3
                            .mb-2
                                i.bi-envelope-at.fs-1.text-primary
                            h4.mb-2 Email me
                            a.mb-0(href="mailto:fmuro@us.es") fmuro@us.es
                    .col-lg-3.col-md-4.text-center
                        .mt-3
                            .mb-2
                                i.bi-geo-alt.fs-1.text-primary
                            h4.mb-2 Come visit me
                            p.text-muted.mb-0 
                            a(href="https://maps.app.goo.gl/eH7N9wsMEnoseR3o8") Get Google directions.<br>
                            | I'm at the Faculty of Mathematics building, first floor, central aisle, office 9.<br>
                    .col-lg-3.col-md-4.text-center
                        .mt-3
                            .mb-2
                                i.bi-postcard.fs-1.text-primary
                            h4.mb-2 Send me a letter
                            p.text-muted.mb-0
                            a(href="https://www.us.es") Universidad de Sevilla<br>
                            a(href="https://matematicas.us.es") Facultad de Matemáticas<br>
                            a(href="http://www.algebra.us.es") Departamento de Álgebra<br>
                            | Calle Tarfia s/n<br>
                            | 41012 Sevilla, Spain

        // Footer
        footer.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2024 - 
                    a(href="#page-top") Fernando Muro
                    |. Powered by 
                    a(href='https://startbootstrap.com') Start Bootstrap 
                    | with 
                    a(href='https://startbootstrap.com/theme/creative') Creative 
                    | theme.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='js/simpleLightbox.min.js', rel="stylesheet")

        // Core theme JS
        script(src='js/scripts.js')