li Jeroen Maes and Fernando Muro, #[strong Derived homotopy algebras],   #[i Proc. R. Soc. Edinb., Sect. A, Math.]   153    (2023), 1198-1243. 
a.paper-link(href="https://doi.org/10.1017/prm.2022.42") publisher
a.paper-link(href="https://arxiv.org/abs/2106.14987") arxiv
a.paper-link(href="https://zbmath.org/7719245") zbMath
li Fernando Muro, #[strong Massey products for algebras over operads],   #[i Commun. Algebra]   51    (2023), 3298-3313. 
a.paper-link(href="https://doi.org/10.1080/00927872.2023.2181780") publisher
a.paper-link(href="https://arxiv.org/abs/2106.14996") arxiv
a.paper-link(href="https://zbmath.org/7700052") zbMath
li Fernando Muro, #[strong Derived universal Massey products],   #[i Homology Homotopy Appl.]   25    (2023), 189-218. 
a.paper-link(href="https://doi.org/10.4310/HHA.2023.v25.n1.a10") publisher
a.paper-link(href="https://arxiv.org/abs/2109.01421") arxiv
a.paper-link(href="https://zbmath.org/7681901") zbMath
li Ai Guan and Fernando Muro, #[strong Operations on the de Rham cohomology of Poisson and Jacobi manifolds],        2023. 
a.paper-link(href="https://arxiv.org/abs/2312.07321") arxiv
a.paper-link(href="https://zbmath.org/902382702") zbMath
li Gustavo Jasso, Bernhard Keller and Fernando Muro, #[strong The Donovan–Wemyss Conjecture via the Derived Auslander–Iyama Correspondence],        2023. 
a.paper-link(href="https://arxiv.org/abs/2301.11593") arxiv
a.paper-link(href="https://zbmath.org/900577785") zbMath
li Fernando Muro, #[strong Enhanced finite triangulated categories],   #[i J. Inst. Math. Jussieu]   21    (2022), 741-783. 
a.paper-link(href="https://doi.org/10.1017/S1474748020000250") publisher
a.paper-link(href="https://arxiv.org/abs/1810.10068") arxiv
a.paper-link(href="https://zbmath.org/7506910") zbMath
li Gustavo Jasso, Bernhard Keller and Fernando Muro, #[strong The Derived Auslander-Iyama Correspondence],        2022. 
a.paper-link(href="https://arxiv.org/abs/2208.14413") arxiv
a.paper-link(href="https://zbmath.org/900570519") zbMath
li Victor Carmona, Ramon Flores and Fernando Muro, #[strong A model structure for locally constant factorization algebras],        2021. 
a.paper-link(href="https://arxiv.org/abs/2107.14174") arxiv
a.paper-link(href="https://zbmath.org/900514688") zbMath
li Fernando Muro, #[strong The first obstructions to enhancing a triangulated category],   #[i Math. Z.]   296    (2020), 719-759. 
a.paper-link(href="https://doi.org/10.1007/s00209-019-02438-y") publisher
a.paper-link(href="https://arxiv.org/abs/1803.02464") arxiv
a.paper-link(href="https://zbmath.org/7242463") zbMath
li Fernando Muro, #[strong Enhanced $A_{\infty}$-obstruction theory],   #[i J. Homotopy Relat. Struct.]   15    (2020), 61-112. 
a.paper-link(href="https://doi.org/10.1007/s40062-019-00245-0") publisher
a.paper-link(href="https://zbmath.org/7190145") zbMath
li Ramón Flores and Fernando Muro, #[strong Torsion homology and cellular approximation],   #[i Algebr. Geom. Topol.]   19    (2019), 457-476. 
a.paper-link(href="https://doi.org/10.2140/agt.2019.19.457") publisher
a.paper-link(href="https://arxiv.org/abs/1707.07654") arxiv
a.paper-link(href="https://zbmath.org/7053579") zbMath
li Fernando Muro and Constanze Roitzheim, #[strong Homotopy theory of bicomplexes],   #[i J. Pure Appl. Algebra]   223    (2019), 1913-1939. 
a.paper-link(href="https://doi.org/10.1016/j.jpaa.2018.08.007") publisher
a.paper-link(href="http://kar.kent.ac.uk/67611/1/bi_and_twisted_complexes_revision.pdf") paper
a.paper-link(href="https://arxiv.org/abs/1802.07610") arxiv
a.paper-link(href="https://zbmath.org/7006249") zbMath
li Fernando Muro, #[strong Correction to: “Homotopy theory of nonsymmetric operads. I–II”],   #[i Algebr. Geom. Topol.]   17    (2017), 3837-3852. 
a.paper-link(href="https://doi.org/10.2140/agt.2017.17.3837") publisher
a.paper-link(href="https://arxiv.org/abs/1507.06644") arxiv
a.paper-link(href="https://zbmath.org/6791664") zbMath
li Fernando Muro and Georgios Raptis, #[strong $K$-theory of derivators revisited],   #[i Ann. $K$-Theory]   2    (2017), 303-340. 
a.paper-link(href="https://doi.org/10.2140/akt.2017.2.303") publisher
a.paper-link(href="https://arxiv.org/abs/1402.1871") arxiv
a.paper-link(href="https://zbmath.org/6673997") zbMath
li Fernando Muro, #[strong Cylinders for non-symmetric DG-operads via homological perturbation theory],   #[i J. Pure Appl. Algebra]   220    (2016), 3248-3281. 
a.paper-link(href="https://doi.org/10.1016/j.jpaa.2016.02.013") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/43063") paper
a.paper-link(href="https://arxiv.org/abs/1505.02945") arxiv
a.paper-link(href="https://zbmath.org/6571599") zbMath
li Fernando Muro, #[strong Homotopy units in $A$-infinity algebras],   #[i Trans. Am. Math. Soc.]   368    (2016), 2145-2184. 
a.paper-link(href="https://doi.org/10.1090/tran/6545") publisher
a.paper-link(href="https://arxiv.org/abs/1111.2723") arxiv
a.paper-link(href="https://zbmath.org/6550647") zbMath
li Fernando Muro and Oriol Raventós, #[strong Transfinite Adams representability],   #[i Adv. Math.]   292    (2016), 111-180. 
a.paper-link(href="https://doi.org/10.1016/j.aim.2016.01.009") publisher
a.paper-link(href="https://arxiv.org/abs/1304.3599") arxiv
a.paper-link(href="https://zbmath.org/6548165") zbMath
li Fernando Muro, #[strong On the unit of a monoidal model category],   #[i Topology Appl.]   191    (2015), 37-47. 
a.paper-link(href="https://doi.org/10.1016/j.topol.2015.05.006") publisher
a.paper-link(href="https://arxiv.org/abs/1411.1349") arxiv
a.paper-link(href="https://zbmath.org/6454207") zbMath
li Fernando Muro, #[strong Dwyer-Kan homotopy theory of enriched categories],   #[i J. Topol.]   8    (2015), 377-413. 
a.paper-link(href="https://doi.org/10.1112/jtopol/jtu029") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/43027") paper
a.paper-link(href="https://arxiv.org/abs/1201.1575") arxiv
a.paper-link(href="https://zbmath.org/6451815") zbMath
li Fernando Muro, Andrew Tonks and Malte Witte, #[strong On determinant functors and $K$-theory],   #[i Publ. Mat., Barc.]   59    (2015), 137-233. 
a.paper-link(href="https://doi.org/10.5565/PUBLMAT_59115_07") publisher
a.paper-link(href="https://arxiv.org/abs/1006.5399") arxiv
a.paper-link(href="https://zbmath.org/6417698") zbMath
li Fernando Muro, #[strong Enhanced ${A}$-infinity obstruction theory],        2015. 
a.paper-link(href="https://doi.org/10.1007/s40062-019-00245-0") publisher
a.paper-link(href="https://arxiv.org/abs/1510.00312") arxiv
a.paper-link(href="https://zbmath.org/900556798") zbMath
li Fernando Muro and Andrew Tonks, #[strong Unital associahedra],   #[i Forum Math.]   26    (2014), 593-620. 
a.paper-link(href="https://doi.org/10.1515/forum-2011-0130") publisher
a.paper-link(href="http://idus.us.es/handle/11441/41889") paper
a.paper-link(href="https://arxiv.org/abs/1110.1959") arxiv
a.paper-link(href="https://zbmath.org/6342603") zbMath
li Fernando Muro, #[strong Moduli spaces of algebras over nonsymmetric operads],   #[i Algebr. Geom. Topol.]   14    (2014), 1489-1539. 
a.paper-link(href="https://doi.org/10.2140/agt.2014.14.1489") publisher
a.paper-link(href="https://arxiv.org/abs/1112.5146") arxiv
a.paper-link(href="https://zbmath.org/6281920") zbMath
li Fernando Muro, #[strong Homotopy theory of non-symmetric operads. II: Change of base category and left properness],   #[i Algebr. Geom. Topol.]   14    (2014), 229-281. 
a.paper-link(href="https://doi.org/10.2140/agt.2014.14.229") publisher
a.paper-link(href="https://arxiv.org/abs/1304.6641") arxiv
a.paper-link(href="https://zbmath.org/6243329") zbMath
li Fernando Muro and George Raptis, #[strong A note on $K$-theory and triangulated derivators],   #[i Adv. Math.]   227    (2011), 1827-1845. 
a.paper-link(href="https://doi.org/10.1016/j.aim.2011.04.005") publisher
a.paper-link(href="https://arxiv.org/abs/1007.4776") arxiv
a.paper-link(href="https://zbmath.org/5918250") zbMath
li Fernando Muro, #[strong Homotopy theory of nonsymmetric operads],   #[i Algebr. Geom. Topol.]   11    (2011), 1541-1599. 
a.paper-link(href="https://doi.org/10.2140/agt.2011.11.1541") publisher
a.paper-link(href="https://arxiv.org/abs/1101.1634") arxiv
a.paper-link(href="https://zbmath.org/5904608") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong The algebra of secondary homotopy operations in ring spectra],   #[i Proc. Lond. Math. Soc. (3)]   102    (2011), 637-696. 
a.paper-link(href="https://doi.org/10.1112/plms/pdq034") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/41904") paper
a.paper-link(href="https://arxiv.org/abs/math/0610523") arxiv
a.paper-link(href="https://zbmath.org/5882112") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong Toda brackets and cup-one squares for ring spectra],   #[i Commun. Algebra]   37    (2009), 56-82. 
a.paper-link(href="https://doi.org/10.1080/00927870802241188") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/41881") paper
a.paper-link(href="https://arxiv.org/abs/math/0612450") arxiv
a.paper-link(href="https://zbmath.org/5538788") zbMath
li H.-J. Baues and F. Muro, #[strong Cohomologically triangulated categories. II],   #[i J. $K$-Theory]   3    (2009), 1-52. 
a.paper-link(href="https://doi.org/10.1017/is008007021jkt061") publisher
a.paper-link(href="https://zbmath.org/5528664") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong The symmetric action on secondary homotopy groups],   #[i Bull. Belg. Math. Soc. - Simon Stevin]   15    (2008), 733-768. 
a.paper-link(href="https://arxiv.org/abs/math/0604030") arxiv
a.paper-link(href="https://zbmath.org/5496973") zbMath
li Fernando Muro and Andrew Tonks, #[strong On $K_1$ of a Waldhausen category],     #[i $K$-theory and noncommutative geometry. Proceedings of the ICM 2006 satellite conference, Valladolid, Spain, August 31–September 6, 2006],      2008, 91-115. 
a.paper-link(href="https://arxiv.org/abs/math/0611229") arxiv
a.paper-link(href="https://zbmath.org/5381934") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong Smash products for secondary homotopy groups],   #[i Appl. Categ. Struct.]   16    (2008), 551-616. 
a.paper-link(href="https://doi.org/10.1007/s10485-007-9071-x") publisher
a.paper-link(href="https://arxiv.org/abs/math/0604031") arxiv
a.paper-link(href="https://zbmath.org/5367270") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong Secondary homotopy groups],   #[i Forum Math.]   20    (2008), 631-677. 
a.paper-link(href="https://doi.org/10.1515/FORUM.2008.032") publisher
a.paper-link(href="https://arxiv.org/abs/math/0604029") arxiv
a.paper-link(href="https://zbmath.org/5351182") zbMath
li H.-J. Baues and F. Muro, #[strong Cohomologically triangulated categories. I],   #[i J. $K$-Theory]   1    (2008), 3-48. 
a.paper-link(href="https://doi.org/10.1017/is007011018jkt019") publisher
a.paper-link(href="https://zbmath.org/5347000") zbMath
li Fernando Muro, #[strong Maltsiniotis’s first conjecture for $K_{1}$],   #[i Int. Math. Res. Not.]   2008    (2008), 31. 
a.paper-link(href="https://doi.org/10.1093/imrn/rnm153") publisher
a.paper-link(href="https://arxiv.org/abs/0707.1892") arxiv
a.paper-link(href="https://zbmath.org/5306025") zbMath
li Fernando Muro, Stefan Schwede and Neil Strickland, #[strong Triangulated categories without models],   #[i Invent. Math.]   170    (2007), 231-241. 
a.paper-link(href="https://doi.org/10.1007/s00222-007-0061-2") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/41893") paper
a.paper-link(href="https://arxiv.org/abs/0704.1378") arxiv
a.paper-link(href="https://zbmath.org/5208165") zbMath
li Fernando Muro and Andrew Tonks, #[strong The 1-type of a Waldhausen $K$-theory spectrum],   #[i Adv. Math.]   216    (2007), 178-211. 
a.paper-link(href="https://doi.org/10.1016/j.aim.2007.05.008") publisher
a.paper-link(href="https://arxiv.org/abs/math/0603544") arxiv
a.paper-link(href="https://zbmath.org/5201720") zbMath
li Hans-Joachim Baues and Fernando Muro, #[strong The homotopy category of pseudofunctors and translation cohomology],   #[i J. Pure Appl. Algebra]   211    (2007), 821-850. 
a.paper-link(href="https://doi.org/10.1016/j.jpaa.2007.04.008") publisher
a.paper-link(href="https://zbmath.org/5186664") zbMath
li Fernando Muro, #[strong A triangulated category without models],        2007. 
a.paper-link(href="https://arxiv.org/abs/math/0703311") arxiv
a.paper-link(href="https://zbmath.org/900080869") zbMath
li Fernando Muro, #[strong On the functoriality of cohomology of categories],   #[i J. Pure Appl. Algebra]   204    (2006), 455-472. 
a.paper-link(href="https://doi.org/10.1016/j.jpaa.2005.05.004") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/41897") paper
a.paper-link(href="https://arxiv.org/abs/math/0411478") arxiv
a.paper-link(href="https://zbmath.org/2244508") zbMath
li Fernando Muro, #[strong On the proper homotopy type of locally compact A^2_n-polyhedra],        2006. 
a.paper-link(href="https://arxiv.org/abs/math/0605213") arxiv
a.paper-link(href="https://zbmath.org/900028837") zbMath
li M. Cárdenas, F. F. Lasheras, F. Muro and A. Quintero, #[strong Proper L–S category, fundamental pro-groups and 2-dimensional proper co-H-spaces],   #[i Topology Appl.]   153    (2005), 580-604. 
a.paper-link(href="https://doi.org/10.1016/j.topol.2005.01.032") publisher
a.paper-link(href="https://zbmath.org/5012978") zbMath
li M. Cárdenas, F. Muro and A. Quintero, #[strong The proper L-S category of Whitehead manifolds],   #[i Topology Appl.]   153    (2005), 557-579. 
a.paper-link(href="https://doi.org/10.1016/j.topol.2005.01.031") publisher
a.paper-link(href="https://zbmath.org/5012977") zbMath
li Fernando Muro, #[strong Suspensions of crossed and quadratic complexes, co-H-structures and applications],   #[i Trans. Am. Math. Soc.]   357    (2005), 3623-3653. 
a.paper-link(href="https://doi.org/10.1090/S0002-9947-04-03597-4") publisher
a.paper-link(href="https://zbmath.org/2172214") zbMath
li H. -J. Baues and F. Muro, #[strong The characteristic cohomology class of a triangulated category],        2005. 
a.paper-link(href="https://arxiv.org/abs/math/0505540") arxiv
a.paper-link(href="https://zbmath.org/900079638") zbMath
li Fernando Muro, #[strong Representation theory of some infinite dimensional algebras arising in continuously controlled algebra and topology.],   #[i $K$-Theory]   33    (2004), 23-65. 
a.paper-link(href="https://doi.org/10.1007/s10977-004-1837-4") publisher
a.paper-link(href="http://idus.us.es/xmlui/handle/11441/41899") paper
a.paper-link(href="https://arxiv.org/abs/math/0310334") arxiv
a.paper-link(href="https://zbmath.org/5068816") zbMath
li R. Ayala, M. Cárdenas, F. Muro and A. Quintero, #[strong An elementary approach to the projective dimension in proper homotopy theory],   #[i Commun. Algebra]   31    (2003), 5995-6017. 
a.paper-link(href="https://doi.org/10.1081/AGB-120024863") publisher
a.paper-link(href="https://zbmath.org/2010229") zbMath
