

doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name="description", content="research, investigacion, science, ciencia, mathematics, matematicas, algebra, topology, topologia, homotopy, homotopia, homology, homologia, k-theory, teoria k, category theory, categorias, representation theory, teoría de representaciones, university of seville, universidad de sevilla")
        meta(name="author", content="Fernando Muro")
        
        title Fernando Muro's preprints

        // Core theme JS
        script(src='js/darkmode.js')

        // Google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Academicons
        link(rel="stylesheet", href="assets/css/academicons.min.css")

        // Icomoon
        link(rel="stylesheet", href="assets/css/icomoon.css", type="text/css")

        // SimpleLightbox plugin CSS
        link(href='assets/css/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // MathJax
        script(src="js/mathjax-config.js", defer)
        script(type="text/javascript", id="MathJax-script", defer, src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js")

    body#page-top

        // Navigation
        nav#secondaryNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='index.html#page-top') Fernando Muro
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='index.html#research', data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Research
                            ul.dropdown-menu.border-3(aria-labelledby="navbarDropdownMenuLink")
                                li.nav-item 
                                    a.nav-link(href="#page-top", style="color: #f4623a;") Preprints
                                li.nav-item 
                                    a.nav-link(href="papers.html") Papers
                                li.nav-item 
                                    a.nav-link(href="presentations.html") Presentations
                        li.nav-item
                            a.nav-link(href='index.html#docencia') Docencia
                        li.nav-item
                            a.nav-link(href='index.html#portfolio') Gallery
                        li.nav-item
                            a.nav-link(href='index.html#about') About
                        li.nav-item
                            a.nav-link(href='index.html#contact') Contact

        // Cards
        section#preprintspage.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 
                    .bi.bi-journal &nbsp; Preprints
                hr.divider
                .row.row-cols-1.gx-5.gy-4.mb-4
                
                
                
                
                
                
                    
                                        
                    .col.col-lg-9.mx-auto
                        .card.shadow.rounded
                            .card-body
                                | Ai Guan and Fernando Muro<br>
                                | #[strong Operations on the de Rham cohomology of Poisson and Jacobi manifolds]<br>
                                |   2023
                            .card-footer
                                
                                
                                a.btn.btn-xs(href="https://arxiv.org/abs/2312.07321") arxiv
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstractzbMATH902382702") Abstract

                                // Modal
                                .modal.fade(id="abstractzbMATH902382702", tabindex="-1", role="dialog", aria-labelledby="Operations on the de Rham cohomology of Poisson and Jacobi manifolds", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-header
                                                h5.modal-title Operations on the de Rham cohomology of Poisson and Jacobi manifolds
                                            .modal-body
                                                p We prove that the (homotopy) hypercommutative algebra structure on the de Rham cohomology of a Poisson or Jacobi manifold defined by several authors is (homotopically) trivial, i.e. it reduces to the underlying (homotopy) commutative algebra structure. We do so by showing that the DG operads which codify the algebraic structure on the de Rham complex of Poisson and Jacobi manifolds, generated by the exterior product and the interior products with the structure polyvector fields, are quasi-isomorphic to the commutative suboperad. Hence, there is no hope to endow the de Rham cohomology of such manifolds with any (higher) structure beyond the well-known (homotopy) commutative algebra structure, which exists for any smooth manifold. We proceed similarly with the commutative Batalin-Vilkovisky-infinity algebra structure on the de Rham complex of a generalized Poisson supermanifold.
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtexzbMATH902382702") BibTeX

                                // Modal
                                .modal.fade(id="bibtexzbMATH902382702", tabindex="-1", role="dialog", aria-labelledby="Operations on the de Rham cohomology of Poisson and Jacobi manifolds", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-body
                                                p(id="bibtexzbMATH902382702") 
                                                    code @Misc{zbMATH902382702,<br>&nbsp;&nbsp;&nbsp;&nbsp;    Author = {Guan, Ai and Muro, Fernando},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Title = {Operations on the de {Rham} cohomology of {Poisson} and {Jacobi} manifolds},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Year = {2023},<br>&nbsp;&nbsp;&nbsp;&nbsp;    HowPublished = {Preprint, {arXiv}:2312.07321 [math.{DG}] (2023)},<br>&nbsp;&nbsp;&nbsp;&nbsp;        }
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(href="https://zbmath.org/902382702") zbMath
                                
                                        
                
                
                    
                                        
                    .col.col-lg-9.mx-auto
                        .card.shadow.rounded
                            .card-body
                                | Gustavo Jasso, Bernhard Keller and Fernando Muro<br>
                                | #[strong The Donovan–Wemyss Conjecture via the Derived Auslander–Iyama Correspondence]<br>
                                |   2023
                            .card-footer
                                
                                
                                a.btn.btn-xs(href="https://arxiv.org/abs/2301.11593") arxiv
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstractzbMATH900577785") Abstract

                                // Modal
                                .modal.fade(id="abstractzbMATH900577785", tabindex="-1", role="dialog", aria-labelledby="The Donovan–Wemyss Conjecture via the Derived Auslander–Iyama Correspondence", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-header
                                                h5.modal-title The Donovan–Wemyss Conjecture via the Derived Auslander–Iyama Correspondence
                                            .modal-body
                                                p We provide an outline of the proof of the Donovan--Wemyss Conjecture in the context of the Homological Minimal Model Program for threefolds. The proof relies on results of August, of Hua and the second-named author, Wemyss, and on the Derived Auslander--Iyama Correspondence -- a recent result by the first- and third-named authors.
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtexzbMATH900577785") BibTeX

                                // Modal
                                .modal.fade(id="bibtexzbMATH900577785", tabindex="-1", role="dialog", aria-labelledby="The Donovan–Wemyss Conjecture via the Derived Auslander–Iyama Correspondence", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-body
                                                p(id="bibtexzbMATH900577785") 
                                                    code @Misc{zbMATH900577785,<br>&nbsp;&nbsp;&nbsp;&nbsp;    Author = {Jasso, Gustavo and Keller, Bernhard and Muro, Fernando},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Title = {The {Donovan}--{Wemyss} {Conjecture} via the {Derived} {Auslander}--{Iyama} {Correspondence}},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Year = {2023},<br>&nbsp;&nbsp;&nbsp;&nbsp;    HowPublished = {Preprint, {arXiv}:2301.11593 [math.{AG}] (2023)},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Keywords = {14E30,13D03},<br>&nbsp;&nbsp;&nbsp;&nbsp;        }
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(href="https://zbmath.org/900577785") zbMath
                                
                                        
                
                
                
                    
                                        
                    .col.col-lg-9.mx-auto
                        .card.shadow.rounded
                            .card-body
                                | Gustavo Jasso, Bernhard Keller and Fernando Muro<br>
                                | #[strong The Derived Auslander-Iyama Correspondence]<br>
                                |   2022
                            .card-footer
                                
                                
                                a.btn.btn-xs(href="https://arxiv.org/abs/2208.14413") arxiv
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstractzbMATH900570519") Abstract

                                // Modal
                                .modal.fade(id="abstractzbMATH900570519", tabindex="-1", role="dialog", aria-labelledby="The Derived Auslander-Iyama Correspondence", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-header
                                                h5.modal-title The Derived Auslander-Iyama Correspondence
                                            .modal-body
                                                p We work over a perfect field. Recent work of the third-named author established a Derived Auslander Correspondence that relates finite-dimensional self-injective algebras that are twisted $3$-periodic to algebraic triangulated categories of finite type. Moreover, the aforementioned work also shows that the latter triangulated categories admit a unique differential graded enhancement. In this article we prove a higher-dimensional version of this result that, given an integer $d\geq1$, relates twisted $(d+2)$-periodic algebras to algebraic triangulated categories with a $d\mathbb{Z}$-cluster tilting object. We also show that the latter triangulated categories admit a unique differential graded enhancement. Our result yields recognition theorems for interesting algebraic triangulated categories, such as the Amiot cluster category of a self-injective quiver with potential in the sense of Herschend and Iyama and, more generally, the Amiot-Guo-Keller cluster category associated with a $d$-representation finite algebra in the sense of Iyama and Oppermann. As an application of our result, we obtain infinitely many triangulated categories with a unique differential graded enhancement that is not strongly unique. In the appendix, B. Keller explains how -- combined with crucial results of August and Hua-Keller -- our main result yields the last key ingredient to prove the Donovan-Wemyss Conjecture in the context of the Homological Minimal Model Program for threefolds.
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtexzbMATH900570519") BibTeX

                                // Modal
                                .modal.fade(id="bibtexzbMATH900570519", tabindex="-1", role="dialog", aria-labelledby="The Derived Auslander-Iyama Correspondence", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-body
                                                p(id="bibtexzbMATH900570519") 
                                                    code @Misc{zbMATH900570519,<br>&nbsp;&nbsp;&nbsp;&nbsp;    Author = {Jasso, Gustavo and Keller, Bernhard and Muro, Fernando},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Title = {The {Derived} {Auslander}-{Iyama} {Correspondence}},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Year = {2022},<br>&nbsp;&nbsp;&nbsp;&nbsp;    HowPublished = {Preprint, {arXiv}:2208.14413 [math.{RT}] (2022)},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Keywords = {18G80,18N40},<br>&nbsp;&nbsp;&nbsp;&nbsp;        }
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(href="https://zbmath.org/900570519") zbMath
                                
                                        
                
                
                    
                                        
                    .col.col-lg-9.mx-auto
                        .card.shadow.rounded
                            .card-body
                                | Victor Carmona, Ramon Flores and Fernando Muro<br>
                                | #[strong A model structure for locally constant factorization algebras]<br>
                                |   2021
                            .card-footer
                                
                                
                                a.btn.btn-xs(href="https://arxiv.org/abs/2107.14174") arxiv
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstractzbMATH900514688") Abstract

                                // Modal
                                .modal.fade(id="abstractzbMATH900514688", tabindex="-1", role="dialog", aria-labelledby="A model structure for locally constant factorization algebras", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-header
                                                h5.modal-title A model structure for locally constant factorization algebras
                                            .modal-body
                                                p Several model structures related to the homotopy theory of locally constant factorization algebras are constructed. This answers a question raised by D. Calaque in his habilitation thesis. Our methods also solve a problem related to cosheafification and factorization algebras identified by O. Gwilliam - K. Rejzner in the locally constant case.
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtexzbMATH900514688") BibTeX

                                // Modal
                                .modal.fade(id="bibtexzbMATH900514688", tabindex="-1", role="dialog", aria-labelledby="A model structure for locally constant factorization algebras", aria-hidden="true")
                                    .modal-dialog(role="document").modal-dialog-centered
                                        .modal-content
                                            .modal-body
                                                p(id="bibtexzbMATH900514688") 
                                                    code @Misc{zbMATH900514688,<br>&nbsp;&nbsp;&nbsp;&nbsp;    Author = {Carmona, Victor and Flores, Ramon and Muro, Fernando},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Title = {A model structure for locally constant factorization algebras},<br>&nbsp;&nbsp;&nbsp;&nbsp;    Year = {2021},<br>&nbsp;&nbsp;&nbsp;&nbsp;    HowPublished = {Preprint, {arXiv}:2107.14174 [math.{AT}] (2021)},<br>&nbsp;&nbsp;&nbsp;&nbsp;        }
                                            .modal-footer.justify-content-center
                                                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                                a.btn.btn-xs(href="https://zbmath.org/900514688") zbMath
                                
                                        
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                

        // Footer
        footer.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2024 - 
                    a(href="#page-top") Fernando Muro
                    |. Powered by 
                    a(href='https://startbootstrap.com') Start Bootstrap 
                    | with 
                    a(href='https://startbootstrap.com/theme/creative') Creative 
                    | theme.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='js/simpleLightbox.min.js', rel="stylesheet")

        // Core theme JS
        script(src='js/scripts.js')