{% set maximum = 2 %}

h3.col-lg-12.mt-3.mb-3.text-left 
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.row-cols-xl-2.gx-5.gy-4.mb-4
{% set count = {'counter': 0} %}
{% for entry in input %}
{% if count.counter < maximum %}
    .col
        .card.shadow.rounded.h-100
            .card-body
                | #[strong {{ entry.title }}]<br>
                | #[i {{ entry.event }}]<br>
                | {% if entry.note %}{{ entry.note }}<br>{% endif %}
                | {{ entry.daymonth }} {{ entry.year }}, {{ entry.location }}
            .card-footer
                {% if entry.file -%}
                a.paper-link(href="assets/files/presentations/{{ entry.file }}.pdf") Presentation
                {% endif -%}
                {% if entry.video -%}
                a.paper-link(href="{{ entry.video }}") Video
                {% endif -%}
                {% if entry.url -%}
                a.paper-link(href="{{ entry.url }}") Site
                {% endif -%}
{% elif count.counter == maximum -%}
.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='#services') See all
{% endif -%}
{% if count.update({'counter': count.counter + 1}) %} {% endif %}
{% endfor %}