doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Creative - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // SimpleLightbox plugin CSS
        link(href='assets/css/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Cards
        section#cards.page-section.bg-dark.text-white
            nav#darkNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.py-3
                .container.px-4.px-lg-5
                    a.navbar-brand(href='#page-top') Start Bootstrap
                    button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarResponsive.collapse.navbar-collapse
                        ul.navbar-nav.ms-auto.my-2.my-lg-0
                            li.nav-item
                                a.nav-link(href='#about') About
                            li.nav-item
                                a.nav-link(href='#services') Services
                            li.nav-item
                                a.nav-link(href='#portfolio') Portfolio
                            li.nav-item
                                a.nav-link(href='#contact') Contact
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Some slides
                hr.divider.divider-light
                h5.text-center Some text
                .row.row-cols-1.row-cols-md-2.row-cols-xxl-4.gx-5.gy-4.my-4
                    .col
                        .card.bg-dark.shadow.rounded
                            .card-body
                                h6.card-title Card pre-title
                                h5.card-title Card title 1
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                            .card-olverlay.bg-dark(style="--bs-bg-opacity: .8;")
                                a.btn.btn-primary.btn-sm.button-wrapper Go somewhere
                                a.btn.btn-secondary.btn-sm.button-wrapper Or elsewhere
                                a.btn.btn-success.btn-sm.button-wrapper Who knows
                    .col
                        .card.bg-dark.shadow.rounded
                            .card-body
                                h6.card-title Card pre-title
                                h5.card-title Card title 2
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                            .card-olverlay.bg-dark(style="--bs-bg-opacity: .8;")
                                a.btn.btn-primary.btn-sm.button-wrapper Go somewhere
                                a.btn.btn-secondary.btn-sm.button-wrapper Or elsewhere
                                a.btn.btn-success.btn-sm.button-wrapper Who knows
                    .col
                        .card.bg-dark.shadow.rounded
                            .card-body
                                h6.card-title Card pre-title
                                h5.card-title Card title 3
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                            .card-olverlay.bg-dark(style="--bs-bg-opacity: .8;")
                                a.btn.btn-primary.btn-sm.button-wrapper Go somewhere
                                a.btn.btn-secondary.btn-sm.button-wrapper Or elsewhere
                                a.btn.btn-success.btn-sm.button-wrapper Who knows
                    .col
                        .card.bg-dark.shadow.rounded
                            .card-body
                                h6.card-title Card pre-title
                                h5.card-title Card title 4
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                            .card-olverlay.bg-dark(style="--bs-bg-opacity: .8;")
                                a.btn.btn-primary.btn-sm.button-wrapper Go somewhere
                                a.btn.btn-secondary.btn-sm.button-wrapper Or elsewhere
                                a.btn.btn-success.btn-sm.button-wrapper Who knows
                .text-center 
                    a.btn.btn-primary.btn-xl(href='#services') See more

        // Footer
        footer.bg-dark.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2023 - Company Name

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='js/simpleLightbox.min.js', rel="stylesheet")

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
