// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    width: 100%;
    height: 100%;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

// Custom utilities for this theme
.text-white-75 {
    color: fade-out($white, 0.25) !important;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        color: #cf5331;
        text-decoration: none;
    }
}

.paper-link {
    padding: 0 4px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.professional-icons {
    color: fade-out($white, 0.25) !important;
    transition: all 0.2s ease-in-out;
}

.professional-icons:hover {
    color: $white !important;
    transform: scale(1.25);
    }